<!-- Describe task in general -->

<p>
    You are given {% if interpreter.slug == "js-node" %}an array{% else %}a list{% endif %} which contains only integers (positive and negative). Your job is to sum only the numbers that are the same and consecutive. The result should be one list.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input: </strong> {% if interpreter.slug == "js-node" %}an array{% else %}a list{% endif %}.
</p>

<p>
    <strong>Output: </strong> {% if interpreter.slug == "js-node" %}an array{% else %}a list{% endif %}. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">sumConsenutives([1, 1, 1, 1]) == [4]
sumConsenutives([1, 1, 2, 2]) == [2, 4]
</pre>
{% else %}
<pre class="brush: python">sum_consenutives([1, 1, 1, 1]) == [4]
sum_consenutives([1, 1, 2, 2]) == [2, 4]
</pre>
{% endif %}
</div>

